.pad-top{
    padding-top: 4.5rem;
}

.slight-pad-top{
    padding-top: 30px;
}

.small-pad-top{
    padding-top: 70px;
}

.small-pad-bot{
    padding-bottom: 100px;
}


.nav-bg{
    padding-top: 10px;
    padding-bottom: 10px;
}

html {
    scroll-behavior: smooth;
  }


  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
  }

  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  .font-sans{
    font-family: 'Public Sans', sans-serif;
  }

  .font-goth{
    font-family: 'Gothic A1', sans-serif;
  }

  .white-text{
      color:white;
  }
  
  .grey-text{
      color: #7E7E7E;
  }

  .word-space{
      word-spacing: 10px;
  }

  .progress-pad{
      padding-top: 23px;
      padding-bottom: 10px;
  }